#status{
    padding: 25px;
}
.custom-color{
    background-color: rgb(206, 225, 229);
}
.feito{
    color: rgb(7, 181, 7);
    font-size: 20px;
    font-family: bold;
    
}
.espera{
    color: rgb(0, 171, 205);
    font-size: 20px;
    font-family: bold;

}
.proximo{
    font-size: 20px;
    font-family: bold ;
}