body {
    background-color: rgb(0, 197, 251);
  }
  .title-part1 {
    color: white;
  }
  .title-part2 {
    color: black;
  }
  .form-container {
    margin-top: 50px;
  }
  .container {
    margin-top: 40px;
  }
  #anonimo {
    margin-top: 40px;
  }
  a {
    color: white;
  }
  #registerButton {
    margin-top: 15px;
  }