body {
  background-color: rgb(0, 197, 251);
}

#container {
  margin-top: 20px;
}

.img-center {
  max-width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.title-part1 {
  color: white;
}

.title-part2 {
  color: black;
}

label {
  padding-left: 8px;
  margin-bottom: 2px;
  color: white;
  font-size: 1.2rem;
}

input.form-control {
  font-size: 1.2rem;
}

a {
  color: white;
  font-size: 1.2rem;
}

#esqueciButton:hover,
#esqueciButton:focus {
  color: #007bff;
  text-decoration: none;
}

#loginButton {
  font-size: 1.2rem;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#cadastroButton {
  background: none;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
}

#cadastroButton:hover,
#cadastroButton:focus {
  color: #007bff;
  text-decoration: none;
}

#error-message {
  text-align: center;
  justify-content: center;
  color: rgb(220, 53, 69);
  padding-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
}