body {
    background-color: rgb(0, 197, 251);
}

#logout {
    width: 280px;
    height: 40px;
}

#dados_conta {
    width: 280px;
    height: 40px;
}

#enderecos {
    width: 280px;
    height: 40px;
}