body {
  background-color: rgb(0, 197, 251);
}

.container-fluid {
  background-color: #fff;

  max-width: 350px;
  padding: 20px;
}

.btn {
  margin-top: 16px;
  font-size: 18px;
  width: 120px;
}

.error-message {
  color: rgb(220, 53, 69);
  font-size: 17px;
  font-weight: 500;
  padding-left: 8px;
  padding-bottom: 5px;
}

.sucesso-message {
  color: rgb(24, 211, 18);
  font-size: 17px;
  font-weight: 500;
  padding-left: 8px;
  padding-bottom: 5px;
}