body {
    background-color: rgb(0, 197, 251);
  }

  .container-fluid {
    background-color: #fff; 

    max-width: 350px;
    padding: 20px;
  }
  .btn {
  margin-top: 16px;
    font-size: 18px;
    width: 120px;
  }